/* Style the header */


/*!* Page content *!*/
/*@media screen and (min-width: 768px) {*/
/*  .content {*/
/*    padding: 0 24px;*/
/*  }*/
/*}*/

.background-triangle {
  background-image: url('../../assets/triangle-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body header.header__google_information {
  position: absolute;
  background: transparent;
  z-index: 99;
}

body ._height_header_ {
  min-height: 0;
}

ol {
  list-style-type: none;
}

.ol_style_container {
  padding-inline-start: 0px;
}

.ol_style_container.item {
  margin-block-start: 0;
}

.ol_style_container.item > li{
  margin-bottom: 1em;
}

div.MuiGrid-root._box_blogs_forums {
  margin-left: 4.5em;
}

div.MuiGrid-root._box_blogs_forums > ol > li{
   margin-bottom: 1em;
}

div.MuiGrid-root._box_blogs_forums > p {
   margin-bottom: 1.3em;
}

div.MuiGrid-root._box_secondary_digital_media {
  margin-top: 20%;
}

div.MuiGrid-root._box_secondary_mentions_comments > ol > li:nth-child(2) {
  margin-top: 2.5em;
  margin-left: 2.1em;
}

@media screen and (max-width: 768px) {
  
  div.MuiGrid-root._box_blogs_forums {
    margin-left: unset;
  }

  div.MuiGrid-root._box_blogs_forums > p,
  div.MuiGrid-root._box_blogs_forums > ol > li {
    margin-bottom: unset;

 }

 div.MuiGrid-root._box_secondary_digital_media,
 div.MuiGrid-root._box_blogs_forums > ol > li > p {
    color: var(--color-gray);
 }
 
 div.MuiGrid-root._box_blogs_forums > ol > li:last-child,
 div.MuiGrid-root._box_blogs_forums > ol > li:first-child {
    display: none;
 }
  
}

/*
  Variables De Colores
*/

:root {
  --color-gray: #D0CFD7;
  --color-gray-light:#F1F1F4;
  --color-white-normal: #FFFFFF;
}

